
body{
    /* divisao em duas divs de tamanho igual */
    display: flex;
    flex-direction: row;
    width:43vw;
    height: 68vh;
}
div{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flexbox;
    min-height: 50px
}

#container1{
    /* imagem de fundo do notebook */
    background-image: linear-gradient(to bottom, rgba(236, 149, 8, 0.4) 0%, rgba(199, 125, 7, 0.4) 100%), url("./assets/Escritório.jfif");
    background-position-x: 100%;
    background-position-y: 50%;
    background-size: cover;
    opacity:95%;

    /* organização da logo */
    justify-content: flex-start;
    padding-top: 80px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left:10px;
}
#container2{
    /* organização da segunda div */
    display: flexbox;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 7px;
    padding-right: 30px;
    padding-bottom: 7px;
    padding-left: 40px;
}
strong{
    /* texto preto grande no titulo da segunda div "Nao va embora agora" */
    color: rgb(26, 26, 26);
    font-size: 35px;
    font-family: Oswald, sans-serif;
    font-weight: bold;
    width: 250;
    height: 50;
    line-height: 2;
}

span{
    /* texto com fundo laranja subtitulo */
    background-color: rgb(245, 166, 35);
    font-family: Roboto, sans-serif;
    font-size: 22px;
    color: rgb(0, 0, 0);
    line-height: 1,5;
}

.caixainfo{
    /* formatação da caixa de email e nome */
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    background-color: #fcf7f7;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-color: #d1d0d0;
    border-radius: 13px;
    border-width: 1px;
    display: block;
    width: 100%;
    height: 5%;
    padding: 0 0.5em;
    line-height: 1.42857;
}
img.logo{
    /* tamanho da imagem da logo */
    margin-left: auto;
    margin-right: auto;
    position:relative;
    width: 190px;
    height: 180px;
    display:flex;
}
.check{
    /* formatação das caixas de checkbox */
    width: 20vw;
    height: 23vh;
    color: #4a4a4a;
    font-family: Open Sans, sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}
.botao{
    /* formatação do botao de enviar formulário */
    background-color: #f5a623;
    border-bottom-style: solid;
    border-color: #ffffff;
    border-left-style: solid;
    border-radius: 5px;
    border-right-style: solid;
    border-top-style: none;
    border-width: 2px;
    color: #ffffff;
    cursor: pointer;
    font-family: Oswald, sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    line-height: 1.42857;
    margin-bottom: -27px;
    margin-top: 5px;
    max-width: 538px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}